<div class="list-item" name="#item-<%= item.id %>">
  <h4>
    Item ID: <%= item.id %>
  </h4>
  <form action="/items/actions/<%= mode %>/modify" method="post">
    <input type="hidden" name="id" value="<%= item.id %>" />
    <input type="hidden" name="mode" value="<%= mode %>" />
    <input type="hidden" name="list-action" value="remove" />
    <button type="submit">Remove Item</button>
  </form>
</div>